{% extends 'base.html.twig' %}

{% block title %}New Receipe{% endblock %}

{% block body %}
    <h1>Create new Receipe</h1>

    {{ include('admin_receipe/_form.html.twig') }}

    <a href="{{ path('admin_receipe_index') }}">back to list</a>
{% endblock %}
