{% extends 'base.html.twig' %}

{# {% form_theme formConducteur 'bootstrap_4_layout.html.twig' %} #}

{% block title %}Formulaire d'ajout{% endblock %}

{% block body %}
<br>
<h1>Formulaire d'ajout d'un gateau</h1>
<br>

{{ form(formProduit) }}
{% endblock %}